[submodule "rideit-client"]
	path = rideit-client
	url = https://github.com/ajdhefley/rideit-client
[submodule "rideit-api"]
	path = rideit-api
	url = https://github.com/ajdhefley/rideit-api
[submodule "rideit-services"]
	path = rideit-services
	url = https://github.com/ajdhefley/rideit-services
